body {
    background-color: rgb(32, 32, 32);
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

footer {
    background: #222;
    color: #eee;
    text-align: center;
    padding: 0.5em;
    font-size: 0.9em;
}

section { 
    background-color: rgb(95, 95, 95);
}

form {
    padding: 20px;
}

article {
    padding: 40px;
}