#contactBox {
    margin: 5px auto 10px auto;
    max-width: 1000px;
    padding: 5% 5% 10% 5%;
}

#contactTable {
    width: 100%;
    border-collapse: collapse;
}

.contactTxt {
    color: white;
    font-size: 25px;
}

tr:nth-child(even){
    background-color: rgb(95, 95, 95);
}
tr:nth-child(odd){
    background-color: #555;
}

td {
    padding: 10px 0px 10px 30px;
}

.contactLink {
    float: right;
}

