.pad-container-1{ padding: 2vw 5vw; }
.margin-container-1{ margin: 0 10%; }

.pad-right-10{ padding-right: 10px;}
.pad-left-10{ padding-left: 10px;}
.pad-top-10{ padding-top: 10px;} 
.pad-right-20{ padding-right: 20px;}
.pad-left-20{ padding-left: 20px;}
.pad-top-20{ padding-top: 20px;} 

.margin-bottom-5{ margin-bottom: 5vh; }
.margin-top-5{ margin-top: 5vh; }

.margin-clear-top { margin-top: 0; }
.margin-clear-bottom { margin-bottom: 0; }

